<% layout('layouts/boilerplate') %>
<form class="mb-3 d-inline" action="/users/<%=userF.username%>/followers" method="GET">
    <button class="btn btn-primary">Followers</button> 
</form>
<form class="mb-3 d-inline" action="/users/<%=userF.username%>/following" method="GET">
    <button class="btn btn-secondary">Following</button> 
</form>
<% if((currentUser && userF.username != currentUser.username) || (!currentUser)){ %>
<form class="mb-3 d-inline" action="/chatWith/<%=userF._id%>" method="GET">
    <button class="btn btn-dark">Chat</button> 
</form>
<form class="mb-3 d-inline" action="/users/<%=userF.username%>/follow" method="POST">
    <button class="btn btn-success">Follow </button>
</form>
<%}%>
<h1><a href="/users/<%= userF.username %>"><%= userF.firstname + " " + userF.secondname %></a></h1>
    <% for( let post of userPosts ) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(post.image){ %>
                        <img src="<%=post.image%>" alt="" class="img-fluid">
                    <% }else{ %>
                        <img src="https://source.unsplash.com/collection/3356576/1600x900"
                            alt="" class="img-fluid">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= post.author.username %>
                        </h5>
                        <p class="card-text">
                            <%= post.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= post.likes %>
                            </small>
                        </p>
                        <a href="/posts/<%= post.id %> " class="btn btn-primary">View <%= post.PGname %> </a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>