<% layout('layouts/boilerplate') %>

    <h1><%= userF.firstname + " " + userF.secondname %></h1>  
    <form class="mb-3 d-inline" action="/users/<%=userF.username%>/followers" method="GET">
        <button class="btn btn-primary btn-sm">Followers</button> 
    </form>
    <form class="mb-3 d-inline" action="/users/<%=userF.username%>/following" method="GET">
        <button class="btn btn-secondary btn-sm">Following</button> 
    </form>
    <% if((currentUser && userF.username != currentUser.username) || (!currentUser)){ %>
    <form class="mb-3 d-inline" action="/chatWith/<%=userF._id%>" method="GET">
        <button class="btn btn-dark btn-sm">Chat</button> 
    </form>
    <form class="mb-3 d-inline" action="/users/<%=userF.username%>/follow" method="POST">
        <button class="btn btn-success btn-sm">Follow </button>
    </form>

<br>
<%}%>
<% for( let post of userPosts ) { %>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card mb-3 border-0 shadow-lg rounded-3">
                <% if(post.images.length>0){ %> 
                <img src="<%= post.images[0].url%>" class="card-img-top" alt="...">
                <% } else { %> 
                    <img src="https://source.unsplash.com/collection/3356576/1600x900" class="card-img-top" alt="...">
                <% } %> 
                <div class="card-body">
                    <p class="card-text">
                        <% if(post.description.length > 250){ %>
                            <%= post.description.slice(0,250) %>... <a href="/posts/<%= post.id %>"> See More</a>
                         <% } else { %>
                            <%= post.description %>
                         <% } %> 
                    </p>
                    <a href="/posts/<%= post.id %> " class="btn btn-primary">View Post </a>
                    
                </div>
            
            </div>
        </div>
    </div>
    <% } %>
    <style>
        body{
            background-color:#e9ecef;
            background-image: url("https://images.pexels.com/photos/1054777/pexels-photo-1054777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            height: 500px;
        }
        
    </style>