<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-6">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% product.images.forEach((img,i)=>{%> 
            <div class="carousel-item <%= i==0? 'active':''%> ">
                <img src="<%= img.url %> " class="d-block w-100" alt="no">
            </div>
                    <% }) %> 
             
              
            </div>
            
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <div class="card mb-3">
            
            <div class="card-body">
                <h5 class="card-title"><%= product.name%></h5>
                
            </div>
            <ul class="list-group list-group-flush">
                
                <li class="list-group-item">₹ <%= product.price%></li>
                <% product.deliverytime+=Math.floor(Math.random()*5) %> 
                <li class="list-group-item">Delivered in <%= product.deliverytime%> days</li>

            </ul>
            
                <% if (currentUser) { %>
                    <div class="card-body">
                    <form class="d-inline" action="/products/<%=product._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </div>
                    </form>
                <% } %>

                
            
            <div class="card-footer text-muted">
                <a class="btn btn-info" href="/products">All Products</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        
        <% let posts = product.posts %> 
        <!-- <div class="card mb-3"> -->
            <div class="row">
                <form action="/products/<%= product.id %> " method="POST" >
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="description"
                            required></textarea>
                    </div>
                    <div class="mb-3">
                        <div class="form-file custom-file">
                            <input type="file" class="form-file-input" id="images" name="images" multiple>
                            <label class="form-file-label" for="image">
                                <span class="form-file-text custom-file-label">Choose image(s)...</span>
                                <span class="form-file-button">Browse</span>
                            </label>
                        </div>
                    </div>
                    <input type="checkbox" id="isPrivate" name="isPrivate" value="Private">
                    <label for="isPrivate"> Allow only followers </label><br>
                    <div class="mb-3">
                        <button class="btn btn-success">Add post</button>
                    </div>
                   
                </form>  
            </div>
            <br>
        <!-- </div> -->
        <% for( let post of posts ) { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if(post.image){ %>
                            <img src="<%=post.image%>" alt="" class="img-fluid">
                        <% }else{ %>
                            <img src="https://source.unsplash.com/collection/3356576/1600x900"
                                alt="" class="img-fluid">
                        <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/users/<%= post.author.username %>"><%= post.author.firstname + " " + post.author.secondname %></a>
                            </h5>
                            <p class="card-text">
                                <%= post.description %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%= post.likes %>
                                </small>
                            </p>
                            <a href="/posts/<%= post.id %> " class="btn btn-primary">View%> </a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
</div>