<% layout('layouts/boilerplate')%>

<div class="row parent_sb">
    <div class="col-lg-6 hide_scrollbar" style="height: 80vh; overflow-y: scroll;">
        <div id="productCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% product.images.forEach((img, i) => {  %>
                <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                    <img src="<%= img.url%>" class="d-block w-100" alt="">
                </div>
                <% }) %>

            </div>
            <% if(product.images.length > 1) {%>
            <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <% } %>
        </div>
        <div class="card mb-3">
            
            <div class="card-body">
                <h5 class="card-title"><%= product.name%></h5>
                
            </div>
            <ul class="list-group list-group-flush">
                
                <li class="list-group-item">₹ <%= product.price%></li>
                <% product.deliverytime+=Math.floor(Math.random()*5) %> 
                <li class="list-group-item">Delivered in <%= product.deliverytime%> days</li>

            </ul>
            
                <% if (currentUser) { %>
                    <div class="card-body">
                    <form class="d-inline" action="/products/<%=product._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </div>
                    </form>
                <% } %>

                
            
            <div class="card-footer text-muted">
                <a class="btn btn-info" href="/products">All Products</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 hide_scrollbar" style="height: 80vh; overflow-y: scroll;">
        
        <% let posts = product.posts %> 
        <!-- <div class="card mb-3"> -->
            <div class="row">
                <form action="/products/<%= product.id %> " method="POST" enctype="multipart/form-data" >
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="description"
                            required></textarea>
                    </div>
                    <div class="mb-3">
                        <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Add image(s)</label>
                            <input class="form-control" type="file" id="formFileMultiple" name='image' multiple>
                        </div>
                    </div>
                    <input type="checkbox" id="isPrivate" name="isPrivate" value="Private">
                    <label for="isPrivate"> Allow only followers </label><br>
                    <div class="mb-3">
                        <button class="btn btn-success">Add post</button>
                    </div>
                   
                </form>  
            </div>
            <br>
        <!-- </div> -->
        <% for( let post of posts ) { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if(post.images.length>0){ %>
                            <img src="<%=post.images[0].url%>" alt="" class="img-fluid h-100">
                        <% }else{ %>
                            <img src="https://source.unsplash.com/collection/3356576/1600x900"
                                alt="" class="img-fluid">
                        <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/users/<%= post.author.username %>"><%= post.author.firstname + " " + post.author.secondname %></a>
                            </h5>
                            <p class="card-text">
                                <%= post.description %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%= post.likes %>
                                </small>
                            </p>
                            <a href="/posts/<%= post.id %> " class="btn btn-primary">View%> </a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
</div>